- provide(:title, 'lootfly | ' +  @product.name)
%p

  %b Name
  = @product.name
  %br

  %b Description
  = @product.description
  %br

  %b price
  = number_to_currency(@product.price)
  %br

  / %b quantity
  / = @product.quantity
  / %br

  %b condition
  = @product.condition
  %br

  %b shipping method
  = @product.ship_method
  %br

  %b shipping price
  = number_to_currency(@product.ship_price)
  %br

  %b seller
  = @product.user.name
  %br
  - @product.photos.each do |x|
    .image_wrap
      = image_tag x.image.url(:thumb)
      - if current_user
        - if current_user.admin || @product.user_id == current_user.id
          / = link_to 'Delete', x, method: :delete, data: { confirm: "Are you sure?" }

  %br
  - if current_user
    - if current_user.admin || @product.user_id == current_user.id
      = link_to 'Edit', edit_product_path(@product)
      = link_to 'Delete', @product, method: :delete, data: { confirm: "Are you sure?" }

  = link_to "Share on Facebook", 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com' , :target => "_blank"